@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('./assets/fonts/ProximaNova-Regular.eot');
  src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
      url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
      url('./assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Material Design Icons";
  src: url('./assets/fonts/materialdesignicons-webfont.eot');
  src: url('./assets/fonts/materialdesignicons-webfont.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/materialdesignicons-webfont.woff2') format('woff2'),
      url('./assets/fonts/materialdesignicons-webfont.woff') format('woff'),
      url('./assets/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/*
=========================== Gloabal Styles =======================*/

body{
  font-family: 'Proxima Nova Rg';
}

.pr{
  position: relative;
}

button{
  background-color: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 21px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 100%; 
  padding: 10px;
}
button:focus{
  outline: 0;
}

.form-group{
  margin-bottom: 1.3rem;
}

/*
============================== Theme Styles ========================*/

.darker-grey{
  background: #D8D8D8;
}


/*
============================== Placeholder Styles ========================*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center
}

/*
============================== Login & Other Styles ========================*/

.loginOut{
  border: 1px solid #ccc;
  background-color: #F3F3F3;
  padding: 40px 20px 80px 20px;
  transform: translate(0, 25%);
}

.loginOut h4{
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.loginOut p{
  font-size: 16px;
  color: #707070;
  margin: 0 0 20px 0;
}
.loginOut input[type="text"], .loginOut input[type="email"], .loginOut input[type="number"]{
  width: 100%;
  height: 50px;
  padding: 0 0 0 10px;
  border-radius: 4px;
}

.loginOut .forgotPin{
  display: block;
  text-align: center;
  font-size: 14px;
  color: #707070;
  font-weight: 800;
  margin: 10px 0 30px 0;  
}
.help-block{
color: red
}

.walletTopUpOut{
  margin: 3rem 0 0 0;
  padding: 0;
}

.walletTopUpOut h2{
  margin: 0 0 0.7rem 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
}
.walletTopUpOut h2 small{
  margin: 1rem 0 0.3rem 0;
  padding: 0;
  color: #707070;
  font-size: 16px;
  display: block;
}
.walletTopUpOut input[type="number"], .walletTopUpOut input[type="text"]{
  margin: 0;
  padding: 0.6rem 0 0.6rem .7rem;
  width: 100%;
  border-radius: .3rem;
  border: 1px solid #DADADA;
}
.walletTopUpOut input[type="text"].innerSpace{
  padding: 0.6rem 0 0.6rem 2.5rem;
}
.walletTopUpOut .icon{
  position: absolute;
  left: 0;
  top: 0;
  padding: .3rem .6rem;
  color: #707070;
  font-size: 25px;
}
.walletTopUpOut .searchLists{
  margin: 3rem 0 0 0;
  padding: 0;
}
.walletTopUpOut .searchLists h5{
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}
.walletTopUpOut .searchLists .peopleImg{
  width: 70px;
  height: 70px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 1rem 0 0;
}
.walletTopUpOut .searchLists .peopleImg img{
  width: 100%;
  max-width: 100%;
}
.walletTopUpOut .searchLists h6{
  height: 70px;
  vertical-align: middle;
  display: table-cell;
  color: #707070;
  font-weight: 600;
}
.walletTopUpOut .searchLists .number{
  height: 70px;
  vertical-align: middle;
  display: table-cell;
  color: #707070;
}
.walletTopUpOut ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
}
.walletTopUpOut ::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
}
.walletTopUpOut :-ms-input-placeholder { /* IE 10+ */
  text-align: left;
}
.walletTopUpOut :-moz-placeholder { /* Firefox 18- */
  text-align: left;
}

/*
============================== Card Detail Styles ========================*/

.cardDetails{
  margin: 0;
  padding: 0;
}
.cardDetails li{
  margin: 0 0 1rem 0;
  list-style: none;
  border: 1px solid #DADADA;
  padding: 1.5rem;
  border-radius: .3rem;
}
.cardDetails li h4{
  margin: 0;
  padding: 0;
  color: #707070;
  font-size: 20px;
}
.cardDetails li h4 small{
  margin: 0;
  padding: 0;
  color: #707070;
  font-size: 18px;
  display: block;
}
.cardDetails li .cardType{
  display: block;
}
.cardDetails li .cardType img{
  width: 100%;
  max-width: 100%;
}


/*
============================== Radio Styles ========================*/

.radio-button {
  display: none;
}
.radio-button-click-target {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 14px 14px 32px;
  position: relative;
}
.radio-button-click-target:hover .radio-button-circle:before, 
.radio-button-click-target:focus .radio-button-circle:before {
  border-color: #444;
}
.radio-button-click-target:active .radio-button-circle:before {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.radio-button-circle {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 20px;
  transition: background-color 0.1s ease-out;
  vertical-align: middle;
  width: 8px;
}
.radio-button-circle:before {
  border: 3px solid #ccc;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  top: -6px;
  transition: border-color 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: border-color 0.1s ease-out, transform 0.1s ease-out;
  transition: border-color 0.1s ease-out, transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  left: -6px;
  width: 20px;
}
.radio-button:checked + .radio-button-click-target .radio-button-circle {
  background-color: #444;
}
.radio-button:disabled + .radio-button-click-target {
  cursor: not-allowed;
}
.radio-button:disabled + .radio-button-click-target .radio-button-circle:before {
  border-color: #e2e2e2;
}
.radio-button:disabled + .radio-button-click-target:active .radio-button-circle:before {
  -webkit-transform: none;
  transform: none;
}

.errorSpan{
  color: red !important;
  margin-top:20px !important
}
.cussorpointer{
  cursor: pointer !important;
}
